<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; <%= date(new Date(), 'YYYY') %> Lingfei All rights reserved.
    	</div>
    </div>
  </div>
</footer>